#bulle-etat-connecte{
    margin: 20px auto 0;
    width: 550px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #198754;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bulle-vide{
    margin: 20px auto 0; 
    height: 32px;
}

#bulle-etat-error{
    margin: 20px auto 0;
    width: 550px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DC2626;
    display: flex;
    align-items: center;
    justify-content: center;
}