#contenu{
    width: 350px;
    margin: 50px auto 0;
    text-align: center;

	#decompte{
		font-size: 20px;
	}

	p{
		font-size: 24px;
	}

	.loader{
		width: 25px;
		height: 25px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	.loader-quart{
		border-radius: 25px;
		border: 6px solid #2D2D2D;

		&::after{
			content: '';
			position: absolute;
			top: -6px;
			left: -6px;
			right: -6px;
			bottom: -6px;
			border: 6px solid transparent;
			border-top-color: #FFF;
			border-radius: 50px;
			animation: spin 1s linear 0s infinite;
		}
	}
}

@keyframes spin{
	0%{
		transform:rotate(0deg);
	}100%{ 
		transform:rotate(360deg);
	}
}