header{
    width: 100%;
    height: 70px;
    background-color: #2D2D2D;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    div{
        color: #fff;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
}

#lien-accueil{
    max-height: 70px;
    margin: 0 30px;
}

#links{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;

    a{
        height: 45px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        color: #FFF;
        text-decoration: none;

        &:hover{
            background-color: #525252;
            cursor: pointer;
            color: #5fa8d3;
        }
    }
}

.link{
    cursor: default;
    height: 45px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #787878;
}

svg{
    animation: opacity 2s ease;

    &:hover{
        & #E{
            animation: basHautBas 1s ease;
            animation-delay: calc(var(--order) * 100ms);
        }

        & #P{
            animation: basHautBas 1s ease;
            animation-delay: calc(var(--order) * 100ms);
        }

        & #O{
            animation: basHautBas 1s ease;
            animation-delay: calc(var(--order) * 100ms);
        }

        & #K{
            animation: basHautBas 1s ease;
            animation-delay: calc(var(--order) * 100ms);
        }

        & #A{
            animation: basHautBas 1s ease;
            animation-delay: calc(var(--order) * 100ms);
        }
    }
}

@keyframes basHautBas{
    0%{
        transform: translateY(0);
    } 
    25%{
        transform: translateY(-20%);
    }
    75%{
        transform: translateY(4%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}