#sect_param{

    padding: 20px 10px;
    max-width: 600px;
    margin: 50px auto 0;
    border: 1px solid #2f323a;
    border-radius: 12px;
    background-color: #2D2D2D;
    color: #FFF;
    box-shadow: 5px 5px 8px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: opacity 1s ease;

    h1{
        text-align: center;
        text-decoration: underline;
        text-align: center;
        font-size: 28px;
    }

    h2{
        text-align: center;
        margin: 30px 0 15px;
    }

    button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 130px;
        height: 35px;
        margin: 8px auto 0;
        background: none;
        border: 1px solid #FFF;
        border-radius: 20px;
        cursor: pointer;
        color: #FFF;
        outline: none;

        svg{
            margin-left: 20px;
        }

        #dark1, #dark2, #light1{
            transition: all 1s ease;
        }

        #dark2{
            transform: translateX(-100%);
        }

        &:hover, &:focus{
            border-color: #5fa8d3;
            color: #5fa8d3;

            & #light1{
                transform: translateX(20%);
                fill: #5fa8d3;
            }

            & #dark1{
                transform: translateX(40%);
                opacity: 0;
                fill: #5fa8d3;
            }

            & #dark2{
                transform: translateX(0);
                fill: #5fa8d3;
            }
        }
    }

    #ths{
        display: flex;
        width: 580px;
        max-height: 27px;
        border-bottom: 1px solid #000;

        & p{
            padding: 4px 25px 4px 15px;
            font-size: 18px;
            font-weight: 500;
        }

        & p:nth-child(1){
            width: 197px;
        }

        & p:nth-child(2){
            width: 203px;
        }

        & p:nth-child(3){
            width: 60px;
        }
    }

    #form_remboursement{
        margin-bottom: 10px;

        #div_param{
            display: flex;
            align-items: center;
            width: 450px;
            margin: 0  auto;

            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 225px;
            }

            .form-input{
                display: flex;
                flex-direction: column-reverse;
                margin: 0;
                background: none;
            
                input[type="text"]{
                    width: 190px;
                    border:none;
                    border-bottom: 1px solid #fff;
                    background-color: #2D2D2D;
                    color: #fff;
                    outline: none;
                    margin-top: 5px;
                    line-height: 22px;
                    font-size: 18px;
            
                    &:focus{
                        border-color: #5fa8d3;
                        color: #5fa8d3;
            
                        & + label{
                            color: #5fa8d3;
                        }
                    }
                }
            }
        }
    }

    #distanceEntreVille{
        margin-bottom: 10px;

        #select{
            width: 520px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: space-around;
        }

        .formfield-select {
            position: relative;
            width: 220px;
            float: left;
        }
        
        .formfield-select--container {
            position: relative; 
            background-color: #fff;
            border: #777 1px solid;
            margin: 0 0 1.5em 0;
            overflow: hidden; 
        }

        .formfield-select--container select {
            appearance: none;
            width: 100%;            
            height: auto;
            border: 0; 
            margin: 0;
            padding: 5px;
            border-radius: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }

        .formfield-select--container::after { 
            content: '';
            position: absolute;
            top: 50%; 
            margin-top: -3px;
            right: .75em;  
            display: block; 
            width: 0; height: 0;
            border-color: transparent;
            border-top-color: #444; 
            border-width: 6px;
            border-style: solid;
            pointer-events: none;
        }

        .form-input{
            display: flex;
            flex-direction: column-reverse;
            margin: 10px auto 0;
            width: 190px;
            text-align: center;
            background: none;
        
            input[type="text"]{
                width: 190px;
                border:none;
                border-bottom: 1px solid #fff;
                background-color: #2D2D2D;
                color: #fff;
                outline: none;
                margin-top: 5px;
                line-height: 22px;
                font-size: 18px;
        
                &:focus{
                    border-color: #5fa8d3;
                    color: #5fa8d3;
        
                    & + label{
                        color: #5fa8d3;
                    }
                }
            }
        }
    }
    
    #tableau{
        min-height: 320px;
        max-height: 320px;
        overflow-y: scroll;
        width: 600px;

        table{
            width: 580px;

            td{
                padding: 4px 25px 4px 15px;
            }

            &, tr, td{
                border-bottom: 1px solid #000;
                border-collapse: collapse;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #FFF;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;

        &:hover{
            background: #555;
        }
      }
      
}