* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: -webkit-gradient(linear, left top, right top, from(#F1F1F1), color-stop(#C7C7C7), to(#F1F1F1));
  background: linear-gradient(0.25turn, #F1F1F1, #C7C7C7, #F1F1F1);
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 100%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #2D2D2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

header div {
  color: #fff;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lien-accueil {
  max-height: 70px;
  margin: 0 30px;
}

#lien-accueil svg {
  -webkit-animation: opacity 2s ease;
          animation: opacity 2s ease;
}

#lien-accueil svg:hover #E {
  -webkit-animation: basHautBasTitre 1s ease;
          animation: basHautBasTitre 1s ease;
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
}

#lien-accueil svg:hover #P {
  -webkit-animation: basHautBasTitre 1s ease;
          animation: basHautBasTitre 1s ease;
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
}

#lien-accueil svg:hover #O {
  -webkit-animation: basHautBasTitre 1s ease;
          animation: basHautBasTitre 1s ease;
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
}

#lien-accueil svg:hover #K {
  -webkit-animation: basHautBasTitre 1s ease;
          animation: basHautBasTitre 1s ease;
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
}

#lien-accueil svg:hover #A {
  -webkit-animation: basHautBasTitre 1s ease;
          animation: basHautBasTitre 1s ease;
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
}

#links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 10px;
}

#links a {
  height: 45px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-decoration: none;
}

#links a:hover {
  background-color: #525252;
  cursor: pointer;
  color: #5fa8d3;
}

.link {
  cursor: default;
  height: 45px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #787878;
}

@-webkit-keyframes basHautBasTitre {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  75% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes basHautBasTitre {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  75% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---- IDENTIFICATION ---- */
#sec_identification {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 370px;
  border: 1px solid #2f323a;
  border-radius: 8px;
  background-color: #2D2D2D;
  color: #FFF;
  -webkit-box-shadow: 5px 5px 8px black;
          box-shadow: 5px 5px 8px black;
}

#sec_identification h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 28px;
  cursor: default;
}

#sec_identification form {
  margin-top: -5px;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 40px;
}

.form-input input[type="text"], .form-input input[type="password"] {
  width: 250px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #2D2D2D;
  color: #fff;
  outline: none;
  margin-top: 5px;
  line-height: 22px;
  font-size: 18px;
}

.form-input input[type="text"]:focus, .form-input input[type="password"]:focus {
  border-color: #5fa8d3;
  color: #5fa8d3;
}

.form-input input[type="text"]:focus + label, .form-input input[type="password"]:focus + label {
  color: #5fa8d3;
}

.form-input button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 35px;
  margin: 8px auto 0;
  background: none;
  border: 1px solid #FFF;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  outline: none;
}

.form-input button svg {
  margin-left: 10px;
}

.form-input button #dark1, .form-input button #dark2, .form-input button #light1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.form-input button #dark2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form-input button:hover, .form-input button:focus {
  border-color: #5fa8d3;
  color: #5fa8d3;
}

.form-input button:hover #light1, .form-input button:focus #light1 {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  fill: #5fa8d3;
}

.form-input button:hover #dark1, .form-input button:focus #dark1 {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
  fill: #5fa8d3;
}

.form-input button:hover #dark2, .form-input button:focus #dark2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  fill: #5fa8d3;
}

.form-input label {
  font-size: 16px;
}

#bulle-etat-connecte {
  margin: 20px auto 0;
  width: 550px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #1CB600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bulle-deconnecte {
  margin: 20px auto 0;
  height: 32px;
}

#bulle-etat-non-autorise {
  margin: 20px auto 0;
  width: 550px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FF0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contenu {
  width: 350px;
  margin: 50px auto 0;
  text-align: center;
}

#contenu #decompte {
  font-size: 20px;
}

#contenu p {
  font-size: 24px;
}

#contenu .loader {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#contenu .loader-quart {
  border-radius: 25px;
  border: 6px solid #2D2D2D;
}

#contenu .loader-quart::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 6px solid transparent;
  border-top-color: #FFF;
  border-radius: 50px;
  -webkit-animation: spin 1s linear 0s infinite;
          animation: spin 1s linear 0s infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#sect_tableau h1 {
  margin: 20px 10px 0 10px;
}

#sect_tableau table {
  margin: 10px 10px 0 0;
}

#sect_tableau td, #sect_tableau th {
  padding: 4px 25px 4px 15px;
}

#sect_tableau table, #sect_tableau tr, #sect_tableau td, #sect_tableau th {
  border-bottom: 1px solid #000;
  border-collapse: collapse;
}

#sect_tableau #titles {
  font-weight: bold;
  font-size: 18px;
}

#sect_tableau .pValidee {
  float: left;
}

#sect_tableau .pRemboursee {
  float: right;
  margin: 0 0 0 8px;
}

#sect_param {
  padding: 20px 10px;
  max-width: 600px;
  margin: 150px auto 0;
  border: 1px solid #2f323a;
  border-radius: 12px;
  background-color: #2D2D2D;
  color: #FFF;
  -webkit-box-shadow: 5px 5px 8px black;
          box-shadow: 5px 5px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Track */
  /* Handle */
}

#sect_param h1 {
  text-align: center;
  text-decoration: underline;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

#sect_param h2 {
  text-align: center;
  margin: 0 0 15px;
}

#sect_param #ths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  max-height: 27px;
  border-bottom: 1px solid #000;
}

#sect_param #ths p {
  padding: 4px 25px 4px 15px;
  font-size: 18px;
  font-weight: 500;
}

#sect_param #ths p:nth-child(1) {
  width: 197px;
}

#sect_param #ths p:nth-child(2) {
  width: 203px;
}

#sect_param #ths p:nth-child(3) {
  width: 60px;
}

#sect_param #form_remboursement #div_param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin: 0  auto;
}

#sect_param #form_remboursement #div_param div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
}

#sect_param #form_remboursement #div_param .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#sect_param #form_remboursement #div_param .form-input input[type="text"], #sect_param #form_remboursement #div_param .form-input input[type="password"] {
  width: 190px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #2D2D2D;
  color: #fff;
  outline: none;
  margin-top: 5px;
  line-height: 22px;
  font-size: 18px;
}

#sect_param #form_remboursement #div_param .form-input input[type="text"]:focus, #sect_param #form_remboursement #div_param .form-input input[type="password"]:focus {
  border-color: #5fa8d3;
  color: #5fa8d3;
}

#sect_param #form_remboursement #div_param .form-input input[type="text"]:focus + label, #sect_param #form_remboursement #div_param .form-input input[type="password"]:focus + label {
  color: #5fa8d3;
}

#sect_param #form_remboursement button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 35px;
  margin: 8px auto 0;
  background: none;
  border: 1px solid #FFF;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  outline: none;
}

#sect_param #form_remboursement button svg {
  margin-left: 20px;
}

#sect_param #form_remboursement button #dark1, #sect_param #form_remboursement button #dark2, #sect_param #form_remboursement button #light1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#sect_param #form_remboursement button #dark2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#sect_param #form_remboursement button:hover, #sect_param #form_remboursement button:focus {
  border-color: #5fa8d3;
  color: #5fa8d3;
}

#sect_param #form_remboursement button:hover #light1, #sect_param #form_remboursement button:focus #light1 {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  fill: #5fa8d3;
}

#sect_param #form_remboursement button:hover #dark1, #sect_param #form_remboursement button:focus #dark1 {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
  fill: #5fa8d3;
}

#sect_param #form_remboursement button:hover #dark2, #sect_param #form_remboursement button:focus #dark2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  fill: #5fa8d3;
}

#sect_param #tableau {
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
  width: 600px;
}

#sect_param #tableau table {
  width: 580px;
}

#sect_param #tableau table td {
  padding: 4px 25px 4px 15px;
}

#sect_param #tableau table, #sect_param #tableau table tr, #sect_param #tableau table td {
  border-bottom: 1px solid #000;
  border-collapse: collapse;
}

#sect_param ::-webkit-scrollbar {
  width: 10px;
}

#sect_param ::-webkit-scrollbar-track {
  background: #FFF;
}

#sect_param ::-webkit-scrollbar-thumb {
  background: #888;
}

#sect_param ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#sect_error_not_connected {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

#sect_error_not_connected div {
  width: 500px;
  height: 300px;
  background-color: #FFF;
  border: 2px solid #FF0000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sect_error_not_connected div h1 {
  margin: 0;
  color: #FF0000;
  font-size: 35px;
}

#sect_error_not_connected div p {
  margin: 0 10px;
  font-size: 23px;
  text-align: center;
}

#sect_error_not_connected div button {
  width: 110px;
  height: 35px;
  margin: 0px auto 0;
  background: none;
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  outline: none;
  cursor: pointer;
}

#sect_error_not_connected div button:hover, #sect_error_not_connected div button:focus {
  border-color: #FF0000;
  color: #FF0000;
}
/*# sourceMappingURL=style.css.map */