/* ---- IDENTIFICATION ---- */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto 0;
    width: 280px;
    height: 300px;
    border: 1px solid #2f323a;
    border-radius: 8px;
    background-color: #2D2D2D;
    color: #FFF;
    box-shadow: 5px 5px 8px black;
}

section h1{
    text-decoration: underline;
    text-align: center;
}

form{
    margin-top: -5px;
}

.form-input{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 35px;
}

.form-input input[type="text"], input[type="password"]{
    width: 230px;
    border:none;
    border-bottom: 1px solid #fff;
    background-color: #2D2D2D;
    color: #fff;
    outline: none;
    margin-top: 5px;
    line-height: 20px;
    font-size: 16px;
}

.form-input input[type="text"]:focus, input[type="password"]:focus{
    border-color: #5fa8d3;
    color: #5fa8d3;
}

.form-input input[type="text"]:focus + label, input[type="password"]:focus + label{
    color: #5fa8d3;
}

.form-input input[type="submit"]{
    width: 110px;
    height: 35px;
    margin: 0px auto 0;
    background: none;
    border: 1px solid #FFF;
    border-radius: 20px;
    color: #FFF;
    outline: none;
    cursor: pointer;
}

.form-input input[type="submit"]:hover,.form-input input[type="submit"]:focus{
    border-color: #5fa8d3;
    color: #5fa8d3;
}

label{
    font-size: 14px;
}